<div>
    <div class="copy">
        <div style="height:30px; background: #fff;margin-left:8px;display:flex; align-items:center;" > 
            <span>SUM: &nbsp;</span>
            <span #sum></span>
        </div>
    </div>
    <div>
        <wj-flex-sheet #flexSheet class="flexSheet" (initialized)="flexSheetInit(flexSheet)">
            <wj-sheet #dynamicContextMenuContainer [rowCount]="25" [columnCount]="12"></wj-sheet> 
        </wj-flex-sheet>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-inline well well-lg">
                <input type="file" class="form-control" id="importFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <button class="btn btn-default" (click)="load()">Load</button>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-inline well well-lg">
                File Name:
                <input type="text" class="form-control" [(ngModel)]="fileName" />
                <button class="btn btn-default" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>